/*margin: 2=top-bottom right-left; 3=top right-left bottom; 4=top right bottom left*/
/*box-shadow: 0px 8px;  Eixo X e Y tal qual o plano cartesiano, borrado e cor*/
/*align-items: center; move o conteúdo no eixo Y*/

/* global */
body {
    background: #e5e5e5;
    color: #25282b; /*cor da fonte*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body.hideScroll {
    overflow: hidden;
}

.hide {
    display: none;
}
a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;  
}
a:hover {
    text-decoration: underline;
}
p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button {
    background-color: #ff5e84;
    color: #ffffff;

    width: 150px;
    height: 40px;

    font-size: 14px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px 5px;
}
.button:hover {
    background-color:#c9ffc052;
    color: #fff;
    text-decoration: none;
}

/* Padrão */
#container {
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}

#intro { 
    width: 50%;
    margin-right: 64px;
}
main {
    margin: 32px 0; 
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

footer {
    text-align: center;
    
    font-size: 14px;
    font-weight: regular;
    line-height: 18px;
    letter-spacing: 0.2px;
}
button {
    background: none;
    color:#ff5e84;
    border: none;
    border-radius: 30px 5px;
    font-weight: bold;
    cursor: pointer; 
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
}

button:hover{
    text-decoration: underline;

}
p {
    font-size: 18px;
}

.idea {
    display: flex;
    margin-bottom: 32px;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1,1,1,0.1);
    border-radius: 8px;
    padding: 32px;
    
}
.idea p{
    margin: 8px 0;
    color: #777
}
.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}
.idea h3 {
    margin: 0;
}

.idea .description {
    margin: 16px 0;
    text-align: left;
}

/*modal*/
#modal {
    background: #ff5e84;

    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center; /*move o conteúdo no eixo X*/ 
}
#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 5%;
    color: white;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}


form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;
    border-radius: 5px 30px;
    font-weight: bold;
    cursor: pointer; 
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    transition: 400ms;
}
form a:hover {
    background-color:#fff;
    color: #ff5e84;
    text-decoration: none;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid rgb(255, 94, 132, 0.5);

    outline: none;
    font-size: 16px;
}

form button {
    background-color:#ffffff;
    color: #ff5e84;
    border: none;
    border-radius: 30px 5px;

    width: 150px;
    height: 40px;
    margin-top: 32px;

    font-weight: bold;
    cursor: pointer; 
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    grid-column: 2;

    justify-self: end;

    transition: 400ms;
}

form button:hover{
    background-color:#ffffff22;
    color: #ffffff;
    text-decoration: none;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

/* IDEIA.HTML*/
#page-ideas #container {
    display: block;

}
header {
    display: flex;
    justify-content: space-between;

}


#page-ideas nav {
    display: flex;
    align-items: center;
}

#page-ideas nav li {
    list-style-type: none;
    margin-right: 16px;   
}

#page-ideas nav li a {
    color: #25282b;
}

#page-ideas nav li a.button {
    color: #fff;
}
#page-ideas nav li:last-child {
    margin: 0;
}

#page-ideas section#title {
    text-align: center;

}

#page-ideas section#title p {
    opacity: 0.7;
    margin: 0;
}

#page-ideas section#title h1 {
    margin: 0;

    font-size: 28px;
}

#page-ideas section#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr; 

    gap: 20px;
}

#page-ideas section#ideas .idea {
    margin: 0;

}

#page-ideas section#title,
section#ideas,
footer {
    margin-top: 64px;
}